*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family:'Roboto',sans-serif;
}

html{
    scroll-behavior:smooth;
}

.header{
    background-color: #0346ae;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    color: white;
    align-items: center;
    
    font-weight: 700;
}

.header ul{
    display: flex;
}

.header ul li a{
    color: white;
    margin: 15px;
    font-size: 18px;
}

.header ul a{
    margin-left: 15px;
    font-size: 23px;
    color: white;
}

#before_dropdown{
    position: relative;
}

#dp{
    position: absolute;
    left: -15px;
    background-color: #0346ae;
    display: flex;
    flex-direction: column;
    width:320px;
    border-top: 2px solid ;
    height: auto;
    margin-top: 10px;
    visibility: hidden;
    transition: 0.2s;
}

.search-box{
    width: 60px;
    height: 40px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
    transform: translateX(-100px);
}

.search-box.active{
    width: 100px;
}

.search-box input{
    height: 100%;
    width: 100%;
    border: none;
    background: #fff;
    font-size: 18px;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    outline: none;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);

}

.search-box input.active{
    opacity: 1;
}

.search-box .search-btn{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10%;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor:pointer;
    transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
    z-index: 1;
}

.search-box .search-btn:hover{
    color: lightseagreen;
}

.search-box .search-btn.active{
    position: absolute;
    top: 50%;
    right: -80px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #0346ae ;
    transform: translateY(-50%) rotate(360deg);
    
}

.search-box .search-btn.active:hover{
    color: lightseagreen;
}

.search-box .cancel-btn{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    color: white;
    font-size: 25px;
    cursor: pointer;
    color: black;
    opacity: 0;
}

.search-box .cancel-btn.active{
    right: -100px;
    transform: translateY(-50%) rotate(360deg);
    color: white;
    opacity: 1;
    font-size: 18px;
    transition: 0.4s;
}

.search-box .cancel-btn.active:hover{
    color: lightseagreen;
    transition: 0.4s;
}

#dp li{
    padding: 20px;
    border-top: 1px solid;
}

#dp :nth-child(1){
    border: none;
}

#dp li a{
    font-size: 18px;
}

#before_dropdown:hover #dp{
    visibility: visible;
    transition: 0.4s;
}

.header ul li a:hover{
    color: #52bff2;
    transition: 0.3s;
}
.fas{
    padding-left: 10px;
}

#dpn_drop{
    position: relative;
}

#dpn{
    position: absolute;
    left: -15px;
    background-color: #0346ae;
    display: flex;
    flex-direction: column;
    width:320px;
    border-top: 2px solid ;
    height: auto;
    margin-top: 10px;
    visibility: hidden;
    transition: 0.2s;
    z-index: 1;
}

#dpn li {
    padding:15px;
}

#dpn_drop:hover #dpn{
    visibility: visible;
    transition: 0.4s;
}

#dpn li{
    border-bottom: 1px solid;
}

#dpn :nth-child(0){
    border-bottom: none;
}

.about{
   width: 60%;
   margin: 3% 18%;
   border-bottom: 0.5px solid #3A3A3A;
}

.about h1{
    font-size: 40px;
    color: #3A3A3A;
    font-weight: 400;
    
}

.content_p{
    width: 100%;
}

.content_p p{
    margin: 4% 0;
    color: #3a3a3a;
    font-size: 20px;
    line-height: 1.8571428571;
}

.footer{
    width: 100%;
    height: 70vh;
    background-color: #3A3A3A;
}

.foot{
    display: flex;
    flex-direction: column;
}

.foot a{
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
}

.foot a:hover{
    color: #1195ff;
}

.footer h2{
    text-align: center;
    color: #fff;
    font-weight: 400;
    margin-bottom: 1em;
    line-height: 1.5;
    padding-top: 30px ;
}

.links{
    font-size: 35px;
    display: flex;
    justify-content: center;
    text-align: center; 
    padding: 15px;
}

.links .fab:hover{
color: #4169e1;
cursor: pointer;
}

.links i{
    margin: 10px;
}

.footer p{
    text-align: center;
    color: #fff;
}